.box {
    padding: 25px;
  }
  
  .nav {
    margin-bottom: 24px;
  }
  
  .list {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
  
    display: flex;
    gap: 18px;
    padding: 14px;
  
    background: rgba(255, 255, 255, 0.1);
    background-blend-mode: overlay;
    backdrop-filter: blur(50px);
    border-radius: 20px;
  }
  
  .item:hover,
  .item:focus {
    color: (178, 189, 240);
    text-decoration: underline;
  }
  
  .active {
    color: (178, 189, 240);
    text-decoration: underline;
  }