.list {
    margin-top: 12px;
  }
  
  .item {
    font-weight: 400;
    font-size: 14px;
  
    background-color:  (186, 205, 245);
    border-radius: 14px;
  }
  
  .item:not(:last-child) {
    margin-bottom: 6px;
  }
  
  .link {
    display: block;
    padding: 16px 16px;
  }
  
  .item:hover,
  .item:focus {
    background-color: (178, 189, 240);
    color: #202e34;
  }